* {
  background-color: #3e67b7;
}

p {
  font-family: "Anton", sans-serif;
  color: white;
}

/* container__row01 */
.container__row01 {
  display: flex;
  justify-content: center;
}
.container__row01__item__01 {
  display: inline-block;
  width: 200px;
  height: 80px;
  margin: 2px;
  border: 1px solid white;
}
.container__row01__item__02 {
  display: inline-block;
  width: 700px;
  height: 80px;
  margin: 2px;
  border: 1px solid white;
}

/* container__row02 */
.container__row02 {
  display: flex;
  justify-content: center;
}

.container__row02__item__03 {
  display: inline-block;
  width: 400px;
  height: 300px;
  margin: 2px;
  border: 1px solid white;
}
.container__row02__item__04 {
  display: inline-block;
  width: 500px;
  height: 300px;
  margin: 2px;
  border: 1px solid white;
}

/* container__row03 */
.container__row03 {
  display: flex;
  justify-content: center;
}

.container__row03__item__05 {
  display: inline-block;
  width: 500px;
  height: 300px;
  margin: 2px;
  border: 1px solid white;
}
.container__row03__item__06 {
  display: inline-block;
  width: 400px;
  height: 300px;
  margin: 2px;
  border: 1px solid white;
}

/* container__row04 */
.container__row04 {
  display: flex;
  justify-content: center;
}

.container__row04__item__07 {
  display: inline-block;
  width: 300px;
  height: 200px;
  margin: 2px;
  border: 1px solid white;
}
.container__row04__item__08 {
  display: inline-block;
  width: 600px;
  height: 200px;
  margin: 2px;
  border: 1px solid white;
}
